<!DOCTYPE html>
<html lang="en">
<head>
    <%= require("html-loader!../../../layout/manager/head-common.html") %>
    <title>用户登录</title>
</head>
<body >
<div id="cxxboy-login-page">
<div id="cxxboy-canvas-bg"></div>
<div class="cxxboy-auth Box">
    <form  accept-charset="UTF-8" >
        <div class="mt-12 d-flex flex-justify-center">
          <img src="<%= require("../../../common/img/login.jpg") %>" alt="girl" class=" CircleBadge CircleBadge--large CircleBadge-icon"/>
        </div>
        <div class="form-group  pt-12 cxxboy-auth-input-username">
            <div class="form-group-header">
                <label for="username-input">用户名</label>
            </div>
            <div class="form-group-body">
                <input
                        class="form-control"
                        type="text"
                        value="monalisa"
                        id="username-input"
                        aria-describedby="username-input-validation"
                />
            </div>
            <p class="note success v-hidden" id="username-input-validation">monalisa is available</p>
        </div>

        <div class="form-group  mt-2 cxxboy-auth-input-password">
            <div class="form-group-header">
                <label for="username-input">密码</label>
            </div>
            <div class="form-group-body">
                <input
                        class="form-control"
                        type="password"
                        value="monalisa"
                        id="password-input"
                        aria-describedby="username-input-validation"
                />
            </div>
            <p class="note success " id="username-input-validation">monalisa is available</p>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" id="cxxboy-auth-login-btn">登录</button>
            <button type="submit" class="btn btn-primary" id="cxxboy-auth-register-btn">注册</button>
        </div>

    </form>
</div>
</div>
</body>
</html>